@import url(https://fonts.googleapis.com/css?family=Pacifico);
 body { background: radial-gradient( circle,
     rgba(162, 0, 255, 1) 0%,
     rgba(0, 255, 247, 1) 100% );
     font-family: Pacifico;
      text-align: center;
       padding: 100px; 
    }
    
#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}